@model books.Models.AdminViewModels.DillerVM
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dil Sil</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Diller">Diller</a></li>
                    <li class="breadcrumb-item active">Dil Sil</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Silme Onayı</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>@Model.Adi</strong> adlı dili silmek istediğinize emin misiniz?</p>
                    </div>
                    <div class="card-footer">
                        <form method="post" asp-action="DilSilmeOnay" asp-route-id="@Model.Id">
                            <button type="submit" class="btn btn-danger">Evet, Sil</button>
                            <a href="/Admin/Diller" class="btn btn-default">Vazgeç</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 