@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0" id="contentTitle">Anasayfa</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                    <li class="breadcrumb-item active" id="breadcrumbTitle">Anasayfa</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div id="mainContent">
            <!-- Ana sayfa içeriği -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@ViewBag.KitapSayisi</h3>
                            <p>Kitap Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-book"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@ViewBag.YazarSayisi</h3>
                            <p>Yazar Sayısı</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-edit"></i>
                        </div>
                    </div>
                </div>
                <!-- Diğer istatistik kutuları -->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kullanıcı Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadContent(contentType) {
            // Başlıkları güncelle
            $('#contentTitle').text(contentType);
            $('#breadcrumbTitle').text(contentType);

            // İçeriği yükle
            if (contentType === 'Kullanicilar') {
                $.get('/Admin/KullanicilarPartial', function(data) {
                    $('#mainContent').html(data);
                });
            }
            // Diğer içerik tipleri için buraya eklemeler yapılabilir
        }
    </script>
}