@model books.Models.AdminViewModels.KitaplarVM

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Kitap Ekle</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Kitaplar">Kitaplar</a></li>
                    <li class="breadcrumb-item active">Kitap ekle</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col-md-6 -->
            <div class="col-lg-6">

                <div class="card card-info">
                    <!-- /.card-header -->
                    <!-- form start -->
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var modelState in ViewData.ModelState.Values)
                                {
                                    foreach (var error in modelState.Errors)
                                    {
                                        <li>@error.ErrorMessage</li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    <form class="form-horizontal" method="post" action="/Admin/KitapEkle" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Kitap Resmi</label>
                                <div class="col-sm-10">
                                    <input type="file" asp-for="ResimFile" class="form-control" accept="image/*">
                                    <span asp-validation-for="ResimFile" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Kitap Adı</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="Adi" class="form-control" placeholder="Kitap Adı">
                                </div>
                                <span asp-validation-for="Adi" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Yazar Id</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="YazarId" class="form-control" placeholder="Yazar Id">
                                </div>
                                <span asp-validation-for="YazarId" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Dil Id</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="DilId" class="form-control" placeholder="Dil Id">
                                </div>
                                <span asp-validation-for="DilId" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Sayfa Sayısı</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="SayfaSayisi" class="form-control" placeholder="Sayfa Sayısı">
                                </div>
                                <span asp-validation-for="SayfaSayisi" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Yayınevi Id</label>
                                <div class="col-sm-10">
                                    <input type="number" asp-for="YayineviId" class="form-control" placeholder="Yayınevi Id">
                                </div>
                                <span asp-validation-for="YayineviId" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Özet</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="Ozet" class="form-control" placeholder="Özet">
                                </div>
                                <span asp-validation-for="Ozet" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Yayın Tarihi</label>
                                <div class="col-sm-10">
                                    <input type="date" asp-for="YayinTarihi" class="form-control" 
                                        value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="YayinTarihi" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="/Admin/Kitaplar" class="btn btn-default">Vazgeç</a>
                            <button type="submit" class="btn btn-primary float-right">Kaydet</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
