@model books.Models.AdminViewModels.YazarlarVM
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Yazar Sil</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="/Admin/Yazarlar">Yazarlar</a></li>
                    <li class="breadcrumb-item active">Yazar Sil</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="alert alert-danger">
            <h5>@Model.adi @Model.soyadi isimli yazarı silmek istediğinizden emin misiniz?</h5>
            <form method="post" asp-action="YazarSilmeOnay" asp-route-id="@Model.ID">
                <button type="submit" class="btn btn-danger">Evet, Sil</button>

                <a href="/Admin/Yazarlar" class="btn btn-secondary">İptal</a>
            </form>
        </div>
    </div>
</div> 