@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giriş Yap</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/" class="h1">Kitap Blog</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Oturum açmak için giriş yapın</p>
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }
                <form method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Kullanıcı Adı" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Şifre" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                    </div>
                </form>
                <p class="mb-0 mt-3">
                    <a href="/Account/Register" class="text-center">Yeni üyelik oluştur</a>
                </p>
            </div>
        </div>
    </div>

    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/dist/js/adminlte.min.js"></script>
</body>
</html> 