@model List<books.Models.AdminViewModels.YazarlarVM>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Yazarlar</h3>
    </div>
    <div class="card-body">
        <div class="list-group">
            @foreach (var yazar in Model)
            {
                <a href="/Yazar/@yazar.Id" class="list-group-item list-group-item-action">
                    @yazar.Adi @yazar.Soyadi
                </a>
            }
        </div>
    </div>
</div>