@model List<books.Models.AdminViewModels.YazarlarVM>

<div class="dropdown w-100 mb-3">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-users me-2"></i>Yazarlar
    </button>
    <ul class="dropdown-menu w-100">
        @foreach (var yazar in Model)
        {
            <li><a class="dropdown-item" href="/Yazar/@yazar.Id">@yazar.Adi @yazar.Soyadi</a></li>
        }
    </ul>
</div>