@model List<books.Models.ViewModels.IndexVM>
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
    <div class="card-body">
    <div class="small text-muted">January 1, 2022</div>
    <h2 class="card-title">Featured Post Title</h2>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla?
    Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus,
    veniam magni quis!</p>
    <a class="btn btn-primary" href="#!">Read more →</a>
    </div>
    </div> *@
<!-- Nested row for non-featured blog posts-->
<div class="row">
<h1 class="my-4">Son Eklenenler</h1>
    @foreach (var kitap in Model)
    {
        <div class="col-lg-4">
            <!-- Blog post-->
        <div class="card mb-4">
                <a href="/Kitap/@(kitap.Id)"><img class="card-img-top" src="~/images/book/@(kitap.Resim)"
                    alt="@kitap.KitapAdi" /></a>
                <div class="card-body">
                    <div class="small text-muted">@kitap.YayinTarihi</div>
                    <a class="text-decoration-none" href="/Kitap/@(kitap.Id)">@kitap.KitapAdi</a>

                   
                </div>
            </div>
        </div>
    }

</div>
