@model List<books.Models.ViewModels.TurListVM>

<div class="card mb-4">
    <div class="card-header">Türler</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-unstyled mb-0">
                    @foreach (var tur in Model)
                    {
                        <a href="/Kitaplar/Tur/@tur.id" class="btn btn-primary my-2">
                            @tur.tur
                            <span class="badge bg-light text-dark ms-2">@tur.kitapSayisi</span>
                        </a>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>