@model List<books.Models.ViewModels.TurListVM>

<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Türler
    </a>
    <ul class="dropdown-menu">
        @foreach (var tur in Model)
        {
            <li><a class="dropdown-item" href="/Kitaplar/Tur/@tur.Id">@tur.TurAdi</a></li>
        }
    </ul>
</div>